@import "./extends/profile-extends.scss";

.profile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    .profile-popup {
        max-width: 480px;
        width: 100%;
        background-color: #1c1c1e;
        margin: 10px;

        .profile-popup__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #252527;
            padding: 5px 10px;

            .profile-popup__functional-part {
                display: flex;
                align-items: center;

                .profile-popup__reboot {
                    margin-right: 8px;
                    padding: 5px 4px 0 4px;
                    cursor: pointer;

                    .reboot-icon {
                        width: 18px;
                        height: 18px;
                    }
                }

                .profile-popup__menu {
                    position: relative;
    
                    .profile-menu__activator {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
    
                        .profile-menu__title {
                            font-size: 24px;
                            font-weight: 700;
                        }
    
                        .profile-menu__arrow {
                            width: 10px;
                            height: 6px;
                            background-color: #FCD54C;
                            clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
                            margin: 5px 0 0 8px;
                            transition: all 0.3s ease;
    
                            &.active {
                                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                            }
                        }
                    }
    
                    .profile-menu__context {
                        position: absolute;
                        top: calc(100% + 10px);
                        width: calc(100% + 100%);
                        background-color: #252527;
                        opacity: 0;
                        transform: translateY(-5px);
                        visibility: hidden;
                        transition: all 0.3s ease;
    
                        &.active {
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                        }
    
                        .profile-menu__context-list {
                            padding: 0;
                            margin: 5px;
                            list-style-type: none;
    
                            .profile-menu__context-item {
                                display: flex;
                                align-items: center;
                                padding: 10px;
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 15px;
                                transition: all 0.3s ease;
                                cursor: pointer;
    
                                &:hover {
                                    color: #252527;
                                    background-color: #FCD54C;
                                }
            
                                &:hover > .item-icon {
                                    filter: grayscale(100%) invert(100%);
                                }
    
                                &.active {
                                    background-color: red;
                                    color: #fff;
    
                                    .item-icon {
                                        filter: none;
                                    }
                                }
    
                                .item-icon {
                                    width: 18px;
                                    height: 18px;
                                    transition: all 0.3s ease;
                                }
    
                                .item-name {
                                    cursor: pointer;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .profile-popup__close { 
                padding: 4px 4px 0 4px;
                cursor: pointer;

                .close-icon {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .profile-popup__form {
            padding: 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profile-popup__image-box {
                width: 100%;
                display: flex;
                justify-content: center;

                input {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    margin-left: 20%;
                    border: 2px solid #FCD54C;
                    cursor: pointer;

                    .user-image {
                        width: 170px;
                        height: 170px;
                        object-fit: cover;
                    }
                }
            }

            .profile-popup__input-box {
                width: 100%;
                margin-top: 24px;

                .profile-popup__full-name,
                .profile-popup__number-phone,
                .profile-popup__email,
                .profile-popup__password {
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid #fff;
                    padding: 4px 10px;
                    background-color: #222222;

                    input {
                        width: 100%;
                        font-size: 14px;
                        background: transparent;
                        border: none;
                        outline: none;
                        color: #FCD54C;
                        padding: 5px 0;
                    }

                    .input-icon {
                        width: 18px;
                        height: 18px;
                        filter: brightness(0) invert(1);
                        margin-left: 10px;
                    }
                }

                .profile-popup__number-phone,
                .profile-popup__email {
                    margin: 24px 0;
                }
            }

            .profile-popup__submit-btn {
                display: none;
            }
        }
    }
}